@import "../../../../../styles/mixins/_breakpoints.scss";

.title {
    font-weight: 600;
    font-size: 80px;
    color: #f7fdff;
    @include media-breakpoint("lt-md-mid") {
        font-size: 64px;
    }
    @include media-breakpoint("xs") {
        font-size: 42px;
    }
}
.sub-title {
    font-size: 40px;
    color: rgba(255, 255, 255, 0.6);
    @include media-breakpoint("lt-md-mid") {
        font-size: 24px;
    }
}
.caption {
    font-weight: 700;
    font-size: 48px;
    color: #eff5fa;
    @include media-breakpoint("xs") {
        font-size: 32px;
    }
}
.description {
    font-weight: 500;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.7);
    @include media-breakpoint("xs") {
        font-size: 18px;
    }
}

.section-1 {
    display: block;
    position: relative;

    &::before {
        content: "";
        background-color: #1e88cf;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: 0;
        opacity: 0.1;
    }
    &::after {
        content: "";
        background-image: url("../../../../../assets/backgrounds/pic_01.png");
        background-size: cover;
        filter: blur(8px);
        -webkit-filter: blur(8px);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
        background-position: top;
    }
    .blue-bg {
        background: linear-gradient(180deg, rgba(1, 185, 220, 0) 0%, #1e88cf 100%);

        background-size: cover;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
    }
}

.section-default {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 480px;
    @include media-breakpoint("lt-md-mid") {
        height: 744px;
        align-items: flex-end;
    }
    @include media-breakpoint("xs") {
        height: 609px;
    }

    &::before {
        content: "";
        background-color: #1e88cf;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }
    &::after {
        content: "";
        background-size: cover;
        top: 0;
        left: 40%;
        width: 60%;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
        background-position: right;
        @include media-breakpoint("lt-md-mid") {
            left: 0;
            width: 100%;
            height: 40%;
        }
    }
    &.banner-1::after {
        background-image: url("../../../../../assets/backgrounds/ML_website_pic_01.png");
    }
    &.banner-2::after {
        background-image: url("../../../../../assets/backgrounds/ML_website_pic_02.png");
    }
    &.banner-3::after {
        background-image: url("../../../../../assets/backgrounds/ML_website_pic_03.png");
    }
    &.banner-4::after {
        background-image: url("../../../../../assets/backgrounds/ML_website_pic_04.png");
    }
    &.banner-5::after {
        background-image: url("../../../../../assets/backgrounds/ML_website_pic_05.png");
    }
    &.banner-6::after {
        background-image: url("../../../../../assets/backgrounds/ML_website_pic_06.png");
    }
    .blue-bg {
        background: linear-gradient(270deg, rgba(1, 185, 220, 0) 0%, #1e88cf 100%);
        background-size: cover;
        position: absolute;
        height: 100%;
        width: 60%;
        left: 40%;
        top: 0;
        @include media-breakpoint("lt-md-mid") {
            left: 0;
            width: 100%;
            height: 40%;
            background: linear-gradient(180deg, rgba(1, 185, 220, 0) 0%, #1e88cf 100%);
        }
    }
    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 86px;
        min-width: 86px;
        height: 86px;
        border-radius: 100%;
        background: #1176b9;
        @include media-breakpoint("xs") {
            width: 60px;
            min-width: 60px;
            height: 60px;
        }
    }
    &.reverse {
        &::before {
            content: "";
            background-color: #0D68A5;
        }
        &::after {
            right: 40%;
            left: 0;
            background-position: left top;
        }
        &.banner-4::after {
            @include media-breakpoint("xs") {
                background-position: -70px top;
            }
        }
        .blue-bg {
            background: linear-gradient(90deg, rgba(13, 104, 165, 0) 0%, #0D68A5 100%);
            right: 40%;
            left: 0;
            @include media-breakpoint("lt-md-mid") {
                background: linear-gradient(180deg, rgba(13, 104, 165, 0) 0%, #0D68A5 100%);
            }
        } 
        .icon {
            background: #1e88cf;
        }
    }
}
