<!-- section -->
<div class="section-main justify-between px-36 max-[1124px]:px-10 max-[599px]:px-0">
    <div class="flex flex-col z-10 relative max-[1124px]:items-center">
        <!-- header -->
        <div class="pt-9 max-[1124px]:pt-4">
            <img src="assets/icons/metalife_logo.svg" alt="">
        </div>
        <div class="flex items-end pt-40 max-[1124px]:flex-col max-[1124px]:pt-0">
            <div class="pb-36 w-1/2 max-[1124px]:w-full max-[1124px]:text-center max-[1124px]:pb-0">
                <div class="title mb-6 max-[1124px]:mb-2 max-[1124px]:tracking-tighter">
                    Welcome to <br>
                    The Metalife Island
                </div>
                <div class="sub-title mb-12 max-[1124px]:mb-2">
                    Join the island today
                </div>
                <div class="flex gap-x-4 max-[1124px]:justify-center max-[1124px]:mb-3 max-[599px]:gap-x-1">
                    <button class="max-[599px]:w-[152px]">
                        <img class="max-[599px]:w-full" src="assets/icons/apple-badge-cta-en 1.svg" alt="">
                    </button>
                    <button class="max-[599px]:w-[172px]">
                        <img class="max-[599px]:w-full" src="assets/icons/google-badge-cta-en 1.svg" alt="">
                    </button>
                </div>
            </div>
            <div
                class="flex items-end w-1/2 min-w-[500px] max-[1124px]:w-full max-[1124px]:min-w-[450px] max-[1124px]:items-center max-[599px]:min-w-[320px]">
                <img class="w-full" src="assets/backgrounds/imgAvatars.png" alt="">
            </div>
        </div>
    </div>
    <div class="blue-bg"></div>
</div>

<!-- section general -->
<div class="section-default banner-1 justify-between px-36 max-[1124px]:px-10 max-[599px]:px-5">
    <div class="flex flex-col z-10 relative">
        <div class="flex">
            <div class="w-1/2 max-[1124px]:w-full max-[1124px]:text-center">
                <div class="flex max-[1124px]:justify-center">
                    <div class="icon mb-4">
                        <img src="assets/icons/icoUIControlPlayingJoystick.svg" alt="">
                    </div>
                </div>
                <div class="caption mb-3">
                    Enjoy Entertainment at Its Best!
                </div>
                <div class="description pb-12 max-[1124px]:pb-10">
                    You know how you start in Metalife, but no one can predict how you will evolve. Welcome to an open
                    world social platform where you can discover endless activities.
                    Run, Drive, Fly, Explore, and Engage in a world
                    that never ends!
                </div>
            </div>
        </div>
    </div>
    <div class="blue-bg"></div>
</div>
<!-- section general -->
<div class="section-default banner-2 reverse justify-between px-36 max-[1124px]:px-10 max-[599px]:px-5">
    <div class="flex flex-col z-10 relative">
        <div class="flex justify-end">
            <div class="w-1/2 max-[1124px]:w-full max-[1124px]:text-center">
                <div class="flex max-[1124px]:justify-center">
                    <div class="icon mb-4">
                        <img src="assets/icons/icoUIControlMap.svg" alt="">
                    </div>
                </div>
                <div class="caption mb-3">
                    A World of Adventure
                </div>
                <div class="description pb-12 max-[1124px]:pb-10">
                    Explore different spaces, Experience different activities, Meet new people, Party on beaches, Engage
                    in missions and Discover the island. In Metalife, there is always something to do and someone to
                    meet.
                </div>
            </div>
        </div>
    </div>
    <div class="blue-bg"></div>
</div>

<!-- section general -->
<div class="section-default banner-3 justify-between px-36 max-[1124px]:px-10 max-[599px]:px-5">
    <div class="flex flex-col z-10 relative">
        <div class="flex">
            <div class="w-1/2 max-[1124px]:w-full max-[1124px]:text-center">
                <div class="flex max-[1124px]:justify-center">
                    <div class="icon mb-4">
                        <img src="assets/icons/icoUIControlDance.svg" alt="">
                    </div>
                </div>
                <div class="caption mb-3">
                    Play Together
                </div>
                <div class="description pb-12 max-[1124px]:pb-10">
                    Never feel alone! Meet, Hangout, Compete & Engage with other players! Metalife is all about being
                    Social, Friendly, and Fun! With unique social features we will make sure that you are never alone
                    again!
                </div>
            </div>
        </div>
    </div>
    <div class="blue-bg"></div>
</div>
<!-- section general -->
<div class="section-default banner-4 reverse justify-between px-36 max-[1124px]:px-10 max-[599px]:px-5">
    <div class="flex flex-col z-10 relative">
        <div class="flex justify-end">
            <div class="w-1/2 max-[1124px]:w-full max-[1124px]:text-center">
                <div class="flex max-[1124px]:justify-center">
                    <div class="icon mb-4">
                        <img src="assets/icons/icoUIControlChin.svg" alt="">
                    </div>
                </div>
                <div class="caption mb-3">
                    Be Who You Want To Be
                </div>
                <div class="description pb-12 max-[1124px]:pb-10">
                    Always wanted to be someone, now is the time! Customize your avatar wardrobe, hairstyles, outfits,
                    makeup, and accessories. From nose to toes, there are endless possibilities and its all up to you!
                </div>
            </div>
        </div>
    </div>
    <div class="blue-bg"></div>
</div>




<!-- section general -->
<div class="section-default banner-5 justify-between px-36 max-[1124px]:px-10 max-[599px]:px-5">
    <div class="flex flex-col z-10 relative">
        <div class="flex">
            <div class="w-1/2 max-[1124px]:w-full max-[1124px]:text-center">
                <div class="flex max-[1124px]:justify-center">
                    <div class="icon mb-4">
                        <img src="assets/icons/icoUIControlAnimals.svg" alt="">
                    </div>
                </div>
                <div class="caption mb-3">
                    Build Your Digital Life
                </div>
                <div class="description pb-12 max-[1124px]:pb-10">
                    Design your dream home where you can experience all that life has to offer. Adopt and grow your pet
                    to be your best friend. Make friends and experience a FULL 3D virtual life simulator.
                </div>
            </div>
        </div>
    </div>
    <div class="blue-bg"></div>
</div>
<!-- section general -->
<div class="section-default banner-6 reverse justify-between px-36 max-[1124px]:px-10 max-[599px]:px-5">
    <div class="flex flex-col z-10 relative">
        <div class="flex justify-end">
            <div class="w-1/2 max-[1124px]:w-full max-[1124px]:text-center">
                <div class="flex max-[1124px]:justify-center">
                    <div class="icon mb-4">
                        <img src="assets/icons/icoUIControlBackpack.svg" alt="">
                    </div>
                </div>
                <div class="caption mb-3">
                    Collect Endless Items
                </div>
                <div class="description pb-12 max-[1124px]:pb-10">
                    It's all about prestige! So be ready to show your style! Metalife allows you to buy, collect and
                    showoff various items such as clothes, cars, bikes, planes, helicopters, yachts and more. Start
                    small and grow to become the most prestigious person on the island.
                </div>
            </div>
        </div>
    </div>
    <div class="blue-bg"></div>
</div>